<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Shoulda</string>
	<key>uuid</key>
	<string>7E52FCE5-B12D-436D-AAFB-5EA830945950</string>
</dict>
</plist>
